<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
    <!-- component -->
<style>
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

    body {
        font-family: 'Oswald', sans-serif;
    }

    .pokeball {
        -webkit-animation-name: spinner;
        animation-name: spinner;
        -webkit-animation-duration: 6s;
        animation-duration: 6s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    @-webkit-keyframes spinner {
        83.33% {
            -webkit-transform: rotate(0);
            transform: rotate(0)
        }

        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg)
        }
    }

    @keyframes spinner {
        83.33% {
            -webkit-transform: rotate(0);
            transform: rotate(0)
        }

        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg)
        }
    }

    dialog[open] {
        animation: appear .15s cubic-bezier(0, 1.8, 1, 1.8)
    }

    dialog::backdrop {
        background: linear-gradient(45deg, rgba(0, 0, 0, .5), rgba(54, 54, 54, .5));
        backdrop-filter: blur(3px)
    }

    @keyframes appear {
        from {
            opacity: 0;
            transform: translateX(-3rem)
        }

        to {
            opacity: 1;
            transform: translateX(0)
        }
    }
</style>
<!-- component -->
<!-- Create By Joker Banny -->
<body class="bg-white">
   <!-- Header Navbar -->
   <%- include("commoncode/Navbar"); -%>
  
  <!-- Title -->
  <div class="pt-32  bg-white">
  <h1 class="text-center text-2xl font-bold text-gray-800">All Products</h1>
  </div>
  
   <!-- Tab Menu -->
   <div class="flex flex-wrap items-center  overflow-x-auto overflow-y-hidden py-10 justify-center   bg-white text-gray-800">
    <a rel="noopener noreferrer" href="#" class="flex items-center flex-shrink-0 px-5 py-3 space-x-2text-gray-600">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4">
            <path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path>
        </svg>
        <span>Architecto</span>
    </a>
    <a rel="noopener noreferrer" href="#" class="flex items-center flex-shrink-0 px-5 py-3 space-x-2 rounded-t-lg text-gray-900">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4">
            <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
            <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
        </svg>
        <span>Corrupti</span>
    </a>
    <a rel="noopener noreferrer" href="#" class="flex items-center flex-shrink-0 px-5 py-3 space-x-2  text-gray-600">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4">
            <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
        </svg>
        <span>Excepturi</span>
    </a>
    <a rel="noopener noreferrer" href="#" class="flex items-center flex-shrink-0 px-5 py-3 space-x-2  text-gray-600">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4">
            <circle cx="12" cy="12" r="10"></circle>
            <polygon points="16.24 7.76 14.12 14.12 7.76 16.24 9.88 9.88 16.24 7.76"></polygon>
        </svg>
        <span>Consectetur</span>
    </a>
</div>

<!-- Product List -->
<section class="py-10 bg-gray-100">
  <div class="mx-auto grid max-w-6xl  grid-cols-1 gap-6 p-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    <% pizza.forEach(function(product) { %>
      <article class="rounded-xl bg-white p-3 shadow-lg hover:shadow-xl hover:transform hover:scale-105 duration-300">
        <a href="#">
          <div class="relative flex items-end overflow-hidden rounded-xl h-52">
            <img src="<%= product.thumbnail %>" alt="<%= product.title%> Photo" class="w-full object-cover object-center" />
            <div class="flex items-center space-x-1.5 rounded-lg bg-green-500 px-2 py-1.5 text-white duration-100 hover:bg-blue-600 absolute bottom-0 w-17">
              <button class="text-sm">Add to Wishlist</button>
            </div>
          </div>
          <div class="mt-1 p-2">
            <h2 class="text-slate-700"><%= product.title %></h2>
            <p class="mt-1 text-sm text-slate-400"><%= product.brand %>,<%= product.category %></p>
            <div class="mt-3 flex items-end justify-between">
              <p class="text-lg font-bold text-blue-500"><%= product.price %> </p>
              <div class="flex items-center space-x-1.5 rounded-lg bg-blue-500 px-4 py-1.5 text-white duration-100 hover:bg-blue-600">
                <button class="text-sm">Add to cart</button>
              </div>
            </div>
          </div>
        </a>
      </article>
      <% }) %>
</section>

  <%- include("commoncode/Pagination"); -%>
  <%- include("commoncode/Footer"); -%>
    
  </body>

</html>